* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    min-height: 100vh;
    background-color: #101529;
}

header {
    display: flex;
    grid-column: 1/7;
    grid-row: 1/2;
    justify-content: center;
    background-color: #203a69;
}

nav ul{
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: #d4ead4;
    text-decoration-line: none;
}

header a:hover {
    font-size: 250%;
    color: white;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #d4ead4;
    text-decoration-line: none;
}

nav {
    flex: 0 0 100%;
    display: flex;
}

footer {
    display: flex;
    grid-column: 1/7;
    grid-row: 3/4;
}

footer a {
    color: #d4ead4;
}
