* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 0.5fr 50px;
    min-height: 100vh;
    background-color: #101529;
}

header {
    display: flex;
    grid-column: 1/13;
    grid-row: 1/2;
    justify-content: center;
    background-color: #203a69;
    box-shadow: 0 2vh 10vh black;
}

nav ul{
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header a {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vmax;
    color: #e2e1e1;
    text-decoration-line: none;
}

header a:hover {
    color: white;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #d4ead4;
    text-decoration-line: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
a:hover::before {
    visibility: visible;
    transform: scale(1);
}

nav {
    flex: 0 0 100%;
    display: flex;
}

#rubrik{
    grid-column: 1/13;
    grid-row: 2/3;
    margin: 4vh;
}

article {
    grid-column: 2/8;
    grid-row: 3/6;
}

h1 {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    color: #d4ead4;
    font-size: 2.5vmax;
}

article p {
    grid-row: 3/4;
    font-size: 1.5vmax;
    color: #d4ead4;
    justify-content: center;
}

footer {
    display: flex;
    grid-column: 1/13;
    grid-row: 7/8;
    background-color: #203a69;
    box-shadow: 0 -1vmax 10vmax black;
}

footer nav {
    flex: 0 0 100%;
    grid-row: 7/8;
    color: #d4ead4;
    justify-content: center;
}

footer p {
    flex: 0 0 100%;
    grid-row: 7/8;
    color: #d4ead4;
    justify-content: center;
}

article a {
    font-family: serif;
}

#thisguysadventure {
    overflow: hidden;
    display: flex;
    grid-column: 3/7;
    grid-row: 3/6;
}

#thisguy {
    min-width: 10vmax;
    min-height:  10vmax;
    max-width: 20vmax;
    max-height: 20vmax;
    align-items: center;
}

img {
    width: 40vmax;
    height: auto;
}

#piggysadventure {
    display: flex;
    grid-column: 8/11;
    grid-row: 3/6;
}

#piggy {
    min-width: 10vmax;
    min-height:  10vmax;
    max-width: 20vmax;
    max-height: 20vmax;
    align-items: center;
}

#thisgamebody {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    min-height: 100vh;
    background-color: #101529;
}

#thisgame {
    display: flex;
    grid-row: 2/10;
    grid-column: 3/11;
    font-size: 4vmax;
    margin-bottom: 5vmax;
    margin-top: 8vmax;
    flex-direction: column;
    align-items: center;
}

#thisgame p {
    margin-bottom: 5vmax;
    margin-top: 5vmax;
}

#thisgame a {
    color: white;
    font-size: 5vmax;
    margin-bottom: 5vmax;
    margin-top: 7vmax;
}

#thisfooter {
    display: flex;
    grid-column: 1/13;
    grid-row: 10/11;
    background-color: #203a69;
    box-shadow: 0 -1vmax 10vmax black;
}
    
#thisfooter nav {
    flex: 0 0 100%;
    color: #d4ead4;
    justify-content: center;
}
    

#piggybody {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    min-height: 100vh;
    background-color: #101529;
}

#piggygame {
    display: flex;
    grid-row: 2/10;
    grid-column: 3/11;
    font-size: 4vmax;
    margin-bottom: 3vmax;
    margin-top: 5vmax;
    flex-direction: column;
    align-items: center;
}

#piggygame p {
    margin-bottom: 5vmax;
    margin-top: 5vmax;
}

#piggygame a {
    color: white;
    font-size: 5vmax;
    margin-bottom: 5vmax;
    margin-top: 5vmax;
}

#piggyfooter {

    display: flex;
    grid-column: 1/13;
    grid-row: 10/11;
    background-color: #203a69;
    box-shadow: 0 -1em 10em black;
}
    
#piggyfooter nav {
    flex: 0 0 100%;
    color: #d4ead4;
    justify-content: center;
}

